.overview_wrap {
  min-height: 100vh;
  padding: 5%;

  background-image: linear-gradient(
    to right bottom,
    #112948,
    #13233e,
    #141d34,
    #13182b,
    #111222,
    #151224,
    #191225,
    #1e1226,
    #30152e,
    #431732,
    #561932,
    #681d2e
  );
  .chart_wrap {
    color: #fff;
    .charts {
      display: flex;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
      .chart {
        width: 48%;
      }
    }
  }
}

@media only screen and (max-width: 979px) {
  .overview_wrap {
    .chart_wrap {
      .charts {
        .chart {
          width: 100%;
        }
      }
    }
  }
} /* 768 */
