.info_box_wrap {
  color: #fff;
  padding: 20px 0px 0px 0px;
  p {
    font-size: 1rem;
    color: #73aed2;
    margin-bottom: 10px;
    text-align: left;
  }
  div {
    color: #fff;
    font-size: 1.4rem;
    text-align: left;
    .up {
      font-size: 1.1rem;
    }
  }
}
